<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fubuki - Docs</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Righteous&family=Ubuntu&display=swap">
</head>
<style>
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    transition: 0.2s;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
html {
    scroll-behavior: smooth;
}
/* All content container */
.container {
    position: relative;
}
/* Navigation */
.container .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 6px rgba(10, 10, 35, 0.1);
    padding: 10px;
}
.container .navbar .logo {
    color: rgb(10, 10, 35);
    font-size: 30px;
    font-weight: bold;
}
.container .navbar .links {
    display: flex;
    gap: 10px;
}
.container .navbar .links li a {
    color: rgb(10, 10, 35);
    font-size: 18px; 
}
.container .navbar .links li a:hover {
    color: mediumslateblue;
}
/* Content */
.container .content {
    display: block;
    text-align: start;
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 80px;
}
.container .content hr {
    background-color: rgba(10, 10, 35, 0.6);
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.container .content h1 {
    color: rgb(10, 10, 35);
    font-size: 40px;
}
.container .content h2 {
    color: rgb(10, 10, 35);
}
.container .content p {
    color: rgb(10, 10, 35);
}
.container .content a {
    color: mediumslateblue;
}
.container .content a:hover {
    text-decoration: underline;
}
.container .content .example {
    background-color: rgb(20, 20, 30);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
}
.container .content .example p {
    color: white;
}
.container .content .example p span {
    color: paleturquoise;
}
.container .content .example p a {
    color: palegreen;
}
/* Footer */
.container .footer {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.container .footer p {
    color: rgb(10, 10, 35);
}
.container .footer span {
    color: crimson;
}
.container .footer a {
    color: mediumslateblue;
}
.container .footer a:hover {
    text-decoration: underline;
}
</style>
<body>
    <div class="container">
        <!-- Navigation -->
        <div class="navbar">
            <a class="logo" href="./">Fubuki</a>
            <ul class="links">
                <li><a href="/">Home</a></li>
                <li><a href="https://github.com/FrontendKec/Fubuki">Github</a></li>
            </ul>
        </div>

        <!-- Content -->
        <div class="content">
            <h1>Docs</h1>
            <p>Below you'll find examples using 
                <a href="https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API" 
                target="_blank">Fetch API</a> but you can use any other http library out there.</p>
            <hr>
            <br>
            <h2>Note</h2>
            <p>Default number of random quote returned is 1.</p>
            <br>
            <br>
            <h2>Available Routes</h2>
            <p>1. Get Random Quote</p>
            <p>2. Coming soon..</p>
            <hr>
            <br>
            <h2>Get Random Quote</h2>
            <div class="example">
                <p><span>fetch</span><a>("/api/random")</a></p>
                <p><span>.then</span><a>((</a>response<a>)</a> => response<span>.json</span><a>())</a></p>
                <p><span>.then</span><a>((</a>quote<a>)</a> => console<span>.log</span><a>(</a>quote<a>));</a></p>
            </div>
            <h2>Output</h2>
            <div class="example">
                <p><a>{</a></p>
                <p><span>‎‎‎‎‎‎‎‎ㅤAnime</span>: <a>"...",</a></p>
                <p><span>‎‎‎‎‎‎‎‎ㅤCharacter</span>: <a>"...",</a></p>
                <p><span>‎‎‎‎‎‎‎‎ㅤQuote</span>: <a>"...",</a></p>
                <p><a>}</a></p>
            </div>
        </div>

        <!-- Footer -->
        <div class="footer">
            <p>Made with <span>❤️</span> by <a href="https://github.com/FrontendKec" target="_blank">FrontendKec</a> &copy;2023</p>
        </div>
    </div>
</body>
</html>