<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fubuki - Random anime quotes api!</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Righteous&family=Ubuntu&display=swap">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div class="container">
        <!-- Navigation -->
        <div class="navbar">
            <a class="logo" href="./">Fubuki</a>
            <ul class="links">
                <li><a href="/">Home</a></li>
                <li><a href="https://github.com/FrontendKec/Fubuki">Github</a></li>
            </ul>
        </div>

        <!-- Content -->
        <div class="content">
            <h1>Fubuki</h1>
            <p>A free restful API serving quality anime quotes</p>
            <p>Powered by <a href="">Express.js</a></p>
            <button><a href="/docs">Get Started</a></button>
        </div>

        <!-- Footer -->
        <div class="footer">
            <p>Made with <span>❤️</span> by <a href="https://github.com/FrontendKec" target="_blank">FrontendKec</a> &copy;2023</p>
        </div>
    </div>
</body>
</html>