<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fubuki - Random anime quotes api!</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Righteous&family=Ubuntu&display=swap">
</head>
<style>
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    transition: 0.2s;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
html {
    scroll-behavior: smooth;
}
/* All content container */
.container {
    position: relative;
}
/* Navigation */
.container .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 6px rgba(10, 10, 35, 0.1);
    padding: 10px;
}
.container .navbar .logo {
    color: rgb(10, 10, 35);
    font-size: 30px;
    font-weight: bold;
}
.container .navbar .links {
    display: flex;
    gap: 10px;
}
.container .navbar .links li a {
    color: rgb(10, 10, 35);
    font-size: 18px; 
}
.container .navbar .links li a:hover {
    color: mediumslateblue;
}
/* Content */
.container .content {
    display: block;
    text-align: center;
    padding-top: 120px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 120px;
}
.container .content h1 {
    color: rgb(10, 10, 35);
    font-size: 60px;
    letter-spacing: 4px;
    font-family: 'Righteous', cursive;
    margin-bottom: 20px;
}
.container .content p {
    color: rgb(10, 10, 35);
    font-size: 20px;
}
.container .content p a {
    color: mediumslateblue;
}
.container .content p a:hover {
    text-decoration: underline;
}
.container .content button {
    background-color: transparent;
    border: 2px solid mediumslateblue;
    border-radius: 4px;
    font-size: 20px;
    padding: 6px 16px;
    margin-top: 40px;
}
.container .content button a {
    color: rgb(10, 10, 35);
}
.container .content button:hover {
    background-color: mediumslateblue;
}
.container .content button:hover a {
    color: white;
}
/* Footer */
.container .footer {
    display: flex;
    justify-content: center;
}
.container .footer p {
    color: rgb(10, 10, 35);
}
.container .footer span {
    color: crimson;
}
.container .footer a {
    color: mediumslateblue;
}
.container .footer a:hover {
    text-decoration: underline;
}
</style>
<body>
    <div class="container">
        <!-- Navigation -->
        <div class="navbar">
            <a class="logo" href="./">Fubuki</a>
            <ul class="links">
                <li><a href="/">Home</a></li>
                <li><a href="https://github.com/FrontendKec/Fubuki">Github</a></li>
            </ul>
        </div>

        <!-- Content -->
        <div class="content">
            <h1>Fubuki</h1>
            <p>A free restful API serving quality anime quotes</p>
            <p>Powered by <a href="">Express.js</a></p>
            <button><a href="/docs">Get Started</a></button>
        </div>

        <!-- Footer -->
        <div class="footer">
            <p>Made with <span>❤️</span> by <a href="https://github.com/FrontendKec" target="_blank">FrontendKec</a> &copy;2023</p>
        </div>
    </div>
</body>
</html>