* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    transition: 0.2s;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
html {
    scroll-behavior: smooth;
}
/* All content container */
.container {
    position: relative;
}
/* Navigation */
.container .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 6px rgba(10, 10, 35, 0.1);
    padding: 10px;
}
.container .navbar .logo {
    color: rgb(10, 10, 35);
    font-size: 30px;
    font-weight: bold;
}
.container .navbar .links {
    display: flex;
    gap: 10px;
}
.container .navbar .links li a {
    color: rgb(10, 10, 35);
    font-size: 18px; 
}
.container .navbar .links li a:hover {
    color: mediumslateblue;
}
/* Content */
.container .content {
    display: block;
    text-align: center;
    padding-top: 120px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 120px;
}
.container .content h1 {
    color: rgb(10, 10, 35);
    font-size: 60px;
    letter-spacing: 4px;
    font-family: 'Righteous', cursive;
    margin-bottom: 20px;
}
.container .content p {
    color: rgb(10, 10, 35);
    font-size: 20px;
}
.container .content p a {
    color: mediumslateblue;
}
.container .content p a:hover {
    text-decoration: underline;
}
.container .content button {
    background-color: transparent;
    border: 2px solid mediumslateblue;
    border-radius: 4px;
    font-size: 20px;
    padding: 6px 16px;
    margin-top: 40px;
}
.container .content button a {
    color: rgb(10, 10, 35);
}
.container .content button:hover {
    background-color: mediumslateblue;
}
.container .content button:hover a {
    color: white;
}
/* Footer */
.container .footer {
    display: flex;
    justify-content: center;
}
.container .footer p {
    color: rgb(10, 10, 35);
}
.container .footer span {
    color: crimson;
}
.container .footer a {
    color: mediumslateblue;
}
.container .footer a:hover {
    text-decoration: underline;
}